<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://unpkg.com/vue"></script>
        <title>Document</title>
        <style>
            .text-red{
                color: red;
            }
            .text-green{
                color: green;
            }
            .bold{
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <!-- v-model :双向绑定    :value :相当于赋值 -->
            <input type="text" v-model="text" v-show="show">
            <input :value="text" type="button" @click="sayText()">
            <input value="显示/隐藏" type="button" @click="toggleShow()">
            <p v-if="text == 'Hello World'">666</p>
            <ul>
                <li v-for="(val,key) in list">key:{{key}},val:{{val}}</li>
            </ul>
            <p :class="[textColor,{bold:boldStatus}]">{{text}}</p>
            <input value="红/绿" type="button" @click="toggleColor()">
            <input value="加粗" type="button" @click="toggleBold()">
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    text: 'Hello World',
                    show: true,
                    list:[{name:'aaa',age:12}, { name: 'bbb', age: 13 }, { name: 'ccc', age: 14 }],
                    textColor:'text-red',
                    boldStatus:false
                },
                methods: {
                    sayText(){
                        alert(this.text);
                    },
                    toggleShow(){
                        this.show = !this.show;
                    },
                    toggleColor(){
                        this.textColor = this.textColor == 'text-red' ? 'text-green' : 'text-red';
                    },
                    toggleBold(){
                        this.boldStatus = !this.boldStatus;
                    }
                }
            });
        </script>
    </body>

</html>